body {
  background-color: #FEB139;
}
h2 {
  color: #F55353;
}
h3 {
  color: #F6F54D;
}
h4 {
  color: #40DFEF;
}
h5 {
  color: #B9F8D3;
}h6 {
  color: #FFFBE7;
}
h1 {
  color: #E78EA9;
}
